*{
    margin: 0;
    padding: 0;
}

.title{
    font-size: xx-large;
}

.navbarCls{
    display:flex;
    justify-content:space-between ;
    align-items: center;
    width: 100%;
    padding: 1rem;
    margin: auto;
    background-color: black;
    border: 2px black solid;
    color: white;
    margin-bottom: 4rem;
}

.sidenavbar{

    display: flex;
    justify-content: space-between;
    gap: 2rem;
    
}

.sidenavbar a{
    color: white;
    text-decoration: none;
}
